.bg-yellow{
  background-color: rgb(246, 196, 33);
}

.border-brown{
  border: 3px solid brown;
}

.bg-steel{
  background-color: rgb(123, 155, 182);
}

.border-yellow{
  border: 2px dashed rgb(246, 196, 33);
}

.bg-dark-steel{
  background-color: rgb(65, 100, 128);
}

.bg-stars{
  background-image: url(https://i.ytimg.com/vi/neCMRoyED4I/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
}

.upgrade-row{
  border: 2px dashed rgb(246, 196, 33);
  background-color: rgb(65, 100, 128);
  user-select: none;
  cursor: pointer;
}

.moon{
  user-select: none;
  cursor: pointer;
}

.upgrade-row:hover{
  background-color:  rgb(246, 196, 33);
  color:rgb(65, 100, 128) ;
  transition-duration: .25s;
}

.text-yellow{
  color: rgb(246, 196, 33);
}